NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://zaratabindo_db_user:Y143LS6N6FUQSfMl@cluster0.pajszcl.mongodb.net/?appName=Cluster0
mongodb_srv=mongodb://zaratabindo_db_user:Y143LS6N6FUQSfMl@ac-whe4i4f-shard-00-00.pajszcl.mongodb.net:27017,ac-whe4i4f-shard-00-01.pajszcl.mongodb.net:27017,ac-whe4i4f-shard-00-02.pajszcl.mongodb.net:27017/?ssl=true&replicaSet=atlas-robyj2-shard-0&authSource=admin&appName=Cluster0
SESSION_SECRET=replace-with-a-long-random-secret
SESSION_NAME=mustapha_shop_sid
TRUST_PROXY=false
